<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chiaki Sato Shop</title>
    <link rel="stylesheet" href="../../assets/css/User/styleplist.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <img src="../../assets/images/Chiaki Sato.png" alt="" class="navbar-brand">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="gap: 25px; padding-left: 10px;">
                        <li class="nav-item">
                            <a class="link-nav" aria-current="page" href="#">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="link-nav" href="#">Blogs</a>
                        </li>
                        <li class="nav-item dropdown">
                            <div class="link-nav dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Sản phẩm
                            </div>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Tất cả sản phẩm</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Điện Thoại</a></li>
                                <li><a class="dropdown-item" href="#">Laptop</a></li>
                                <li><a class="dropdown-item" href="#">Phụ kiện</a></li>
                                <li><a class="dropdown-item" href="#">PC</a></li>
                                <li><a class="dropdown-item" href="#">Tablet</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="link-nav" href="#">Hỏi đáp</a>
                        </li>
                        <li>
                            <form class="search d-flex">
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="search-btn" type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </li>
                    </ul>
                    <div class="nav-action">
                        <img src="../../assets/images/User-logo.png" alt="" srcset=""
                            style="width: 40px; margin-right: 10px;">
                        <div class="nav-item dropdown" style="margin-right: 30px;">
                            <div class="link-nav dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Tài khoản
                            </div>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Hồ sơ</a></li>
                                <li><a class="dropdown-item" href="#">Đổi mật khẩu</a></li>
                            </ul>
                        </div>
                        <div style="margin-top: 7px;">
                            <a href="" class="link-nav">Giỏ hàng</a>
                        </div>
                    </div>
                </div>

            </div>
        </nav>
    </header>


    <main class="container" style="padding-top: 20px;">
        <h4>Danh sách thương hiệu</h4>
        <div class="brand-list d-flex">
            <a class="brand_logo_link" href=""><img class="brand_logo" src="../../assets/images/applelogo.webp"
                    alt=""></a>
            <a class="brand_logo_link" href=""><img class="brand_logo" src="../../assets/images/xiaomilogo.webp"
                    alt=""></a>
            <a class="brand_logo_link" href=""><img class="brand_logo" src="../../assets/images/asuslogo.webp"
                    alt=""></a>
            <a class="brand_logo_link" href=""><img class="brand_logo" src="../../assets/images/oppologo.webp"
                    alt=""></a>
        </div>
        <h4>Sắp xếp theo</h4>
        <div class="sort d-flex">
            <a class="button_sort" href="">Giá tiền cao - thấp</a>
            <a class="button_sort" href="">Giá tiền thấp - cao</a>
            <a class="button_sort" href="">Xem nhiều</a>
        </div>
        <div class="product-list-filter d-flex flex-wrap">
            <div class="product-info-container product-item">
                <div class="product-info">
                    <a href="../User/productDetail.html"
                        class="product__link button__link">
                        <div class="product__image">
                            <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/b/4/b48cd136-7366-4d01-8d58-8ee3d5dc93b7_2.jpg"
                                width="358" height="358" alt="Samsung Galaxy Fold5 12GB 1TB" loading="lazy"
                                class="product__img">
                        </div>
                        <div class="product__name">
                            <h3>Samsung Galaxy Fold5 12GB 1TB</h3>
                        </div>
                        <div class="box-info__box-price">
                            <p class="product__price--show">
                                47.990.000₫
                            </p>
                            <p class="product__price--through">
                                51.990.000₫
                            </p>
                            <div class="product__price--percent">
                                <p class="product__price--percent-detail">
                                    Giảm&nbsp;8%
                                </p>
                            </div>
                        </div>
                </div> <!----> <!---->

                <div class="product__promotions">
                    <div>
                        <div class="promotion">
                            <p class="coupon-price">Trả góp 12 tháng 0 lãi, 0đ trả trước qua Samsung Finance+ và
                                <b>3 km</b> khác
                            </p>
                        </div>
                    </div>
                </div>
                <div class="product__promotions" style="display: none;">
                    <div class="promotion">
                        <p class="gift-cont"></p>
                    </div>
                </div> <!---->
                </a>
                <button class="btn-buy-add" onclick="Redirect()">Mua ngay</button>
                <button class="btn-buy-add">Giỏ hàng</button>
            </div>
            <div class="product-info-container product-item">
                <div class="product-info">
                    <a href="../User/productDetail.html"
                        class="product__link button__link">
                        <div class="product__image">
                            <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/b/4/b48cd136-7366-4d01-8d58-8ee3d5dc93b7_2.jpg"
                                width="358" height="358" alt="Samsung Galaxy Fold5 12GB 1TB" loading="lazy"
                                class="product__img">
                        </div>
                        <div class="product__name">
                            <h3>Samsung Galaxy Fold5 12GB 1TB</h3>
                        </div>
                        <div class="box-info__box-price">
                            <p class="product__price--show">
                                47.990.000₫
                            </p>
                            <p class="product__price--through">
                                51.990.000₫
                            </p>
                            <div class="product__price--percent">
                                <p class="product__price--percent-detail">
                                    Giảm&nbsp;8%
                                </p>
                            </div>
                        </div>
                </div> <!----> <!---->

                <div class="product__promotions">
                    <div>
                        <div class="promotion">
                            <p class="coupon-price">Trả góp 12 tháng 0 lãi, 0đ trả trước qua Samsung Finance+ và
                                <b>3 km</b> khác
                            </p>
                        </div>
                    </div>
                </div>
                <div class="product__promotions" style="display: none;">
                    <div class="promotion">
                        <p class="gift-cont"></p>
                    </div>
                </div> <!---->
                </a>
                <button class="btn-buy-add" onclick="Redirect()">Mua ngay</button>
                <button class="btn-buy-add">Giỏ hàng</button>
            </div>
            <div class="product-info-container product-item">
                <div class="product-info">
                    <a href="../User/productDetail.html"
                        class="product__link button__link">
                        <div class="product__image">
                            <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/b/4/b48cd136-7366-4d01-8d58-8ee3d5dc93b7_2.jpg"
                                width="358" height="358" alt="Samsung Galaxy Fold5 12GB 1TB" loading="lazy"
                                class="product__img">
                        </div>
                        <div class="product__name">
                            <h3>Samsung Galaxy Fold5 12GB 1TB</h3>
                        </div>
                        <div class="box-info__box-price">
                            <p class="product__price--show">
                                47.990.000₫
                            </p>
                            <p class="product__price--through">
                                51.990.000₫
                            </p>
                            <div class="product__price--percent">
                                <p class="product__price--percent-detail">
                                    Giảm&nbsp;8%
                                </p>
                            </div>
                        </div>
                </div> <!----> <!---->

                <div class="product__promotions">
                    <div>
                        <div class="promotion">
                            <p class="coupon-price">Trả góp 12 tháng 0 lãi, 0đ trả trước qua Samsung Finance+ và
                                <b>3 km</b> khác
                            </p>
                        </div>
                    </div>
                </div>
                <div class="product__promotions" style="display: none;">
                    <div class="promotion">
                        <p class="gift-cont"></p>
                    </div>
                </div> <!---->
                </a>
                <button class="btn-buy-add" onclick="Redirect()">Mua ngay</button>
                <button class="btn-buy-add">Giỏ hàng</button>
            </div>
            <div class="product-info-container product-item">
                <div class="product-info">
                    <a href="../User/productDetail.html"
                        class="product__link button__link">
                        <div class="product__image">
                            <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/b/4/b48cd136-7366-4d01-8d58-8ee3d5dc93b7_2.jpg"
                                width="358" height="358" alt="Samsung Galaxy Fold5 12GB 1TB" loading="lazy"
                                class="product__img">
                        </div>
                        <div class="product__name">
                            <h3>Samsung Galaxy Fold5 12GB 1TB</h3>
                        </div>
                        <div class="box-info__box-price">
                            <p class="product__price--show">
                                47.990.000₫
                            </p>
                            <p class="product__price--through">
                                51.990.000₫
                            </p>
                            <div class="product__price--percent">
                                <p class="product__price--percent-detail">
                                    Giảm&nbsp;8%
                                </p>
                            </div>
                        </div>
                </div> <!----> <!---->

                <div class="product__promotions">
                    <div>
                        <div class="promotion">
                            <p class="coupon-price">Trả góp 12 tháng 0 lãi, 0đ trả trước qua Samsung Finance+ và
                                <b>3 km</b> khác
                            </p>
                        </div>
                    </div>
                </div>
                <div class="product__promotions" style="display: none;">
                    <div class="promotion">
                        <p class="gift-cont"></p>
                    </div>
                </div> <!---->
                </a>
                <button class="btn-buy-add" onclick="Redirect()">Mua ngay</button>
                <button class="btn-buy-add">Giỏ hàng</button>
            </div>
            <div class="product-info-container product-item">
                <div class="product-info">
                    <a href="../User/productDetail.html"
                        class="product__link button__link">
                        <div class="product__image">
                            <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/b/4/b48cd136-7366-4d01-8d58-8ee3d5dc93b7_2.jpg"
                                width="358" height="358" alt="Samsung Galaxy Fold5 12GB 1TB" loading="lazy"
                                class="product__img">
                        </div>
                        <div class="product__name">
                            <h3>Samsung Galaxy Fold5 12GB 1TB</h3>
                        </div>
                        <div class="box-info__box-price">
                            <p class="product__price--show">
                                47.990.000₫
                            </p>
                            <p class="product__price--through">
                                51.990.000₫
                            </p>
                            <div class="product__price--percent">
                                <p class="product__price--percent-detail">
                                    Giảm&nbsp;8%
                                </p>
                            </div>
                        </div>
                </div> <!----> <!---->

                <div class="product__promotions">
                    <div>
                        <div class="promotion">
                            <p class="coupon-price">Trả góp 12 tháng 0 lãi, 0đ trả trước qua Samsung Finance+ và
                                <b>3 km</b> khác
                            </p>
                        </div>
                    </div>
                </div>
                <div class="product__promotions" style="display: none;">
                    <div class="promotion">
                        <p class="gift-cont"></p>
                    </div>
                </div> <!---->
                </a>
                <button class="btn-buy-add" onclick="Redirect()">Mua ngay</button>
                <button class="btn-buy-add">Giỏ hàng</button>
            </div>
            <div class="product-info-container product-item">
                <div class="product-info">
                    <a href="../User/productDetail.html"
                        class="product__link button__link">
                        <div class="product__image">
                            <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/b/4/b48cd136-7366-4d01-8d58-8ee3d5dc93b7_2.jpg"
                                width="358" height="358" alt="Samsung Galaxy Fold5 12GB 1TB" loading="lazy"
                                class="product__img">
                        </div>
                        <div class="product__name">
                            <h3>Samsung Galaxy Fold5 12GB 1TB</h3>
                        </div>
                        <div class="box-info__box-price">
                            <p class="product__price--show">
                                47.990.000₫
                            </p>
                            <p class="product__price--through">
                                51.990.000₫
                            </p>
                            <div class="product__price--percent">
                                <p class="product__price--percent-detail">
                                    Giảm&nbsp;8%
                                </p>
                            </div>
                        </div>
                </div> <!----> <!---->

                <div class="product__promotions">
                    <div>
                        <div class="promotion">
                            <p class="coupon-price">Trả góp 12 tháng 0 lãi, 0đ trả trước qua Samsung Finance+ và
                                <b>3 km</b> khác
                            </p>
                        </div>
                    </div>
                </div>
                <div class="product__promotions" style="display: none;">
                    <div class="promotion">
                        <p class="gift-cont"></p>
                    </div>
                </div> <!---->
                </a>
                <button class="btn-buy-add" onclick="Redirect()">Mua ngay</button>
                <button class="btn-buy-add">Giỏ hàng</button>
            </div>
        </div>
        </div>
    </main>
    <script src="../../assets/js/scriptplist.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>