@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
body,
button {
  font-family: "Inter", sans-serif;
}
:root {
  --offcanvas-width: 270px;
  --topNavbarHeight: 56px;
}
.sidebar{
  width: var(--offcanvas-width) !important;
  height: calc(100% - var(--topNavbarHeight));
  margin-top: var(--topNavbarHeight);
  background-color: rgba(112, 83, 83, 1) !important;
  color: aliceblue !important;
}
.nav-link{
  text-align: center;
}
.nav-link span{
  font-size: 20px;
  font-weight: bold;
}

.user-logo{
    width: 30%;
    border-radius: 50%;
    margin-left: 4%;
    margin-top: 4%;
}
.sidebar-link {
  display: flex;
  align-items: center;
}
.sidebar-link .right-icon {
  display: inline-flex;
}
.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg);
}
.offcanvas-backdrop.show{
  opacity: 0 !important;
}
@media (min-width: 992px) {
  /* this is to remove the backdrop */
  .offcanvas-backdrop::before {
    display: none;
  }
  .sidebar{
    -webkit-transform: none;
    transform: none;
    visibility: visible !important;
    height: calc(100% - var(--topNavbarHeight));
    top: var(--topNavbarHeight);
  }

}
